<form action="/Project/create" method="POST">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="http://localhost:1337/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="http://localhost:1337/Project/search">Search</a>
          <a class="nav-item nav-link active" href="http://localhost:1337/">Create</a>
          <a class="nav-item nav-link" href="http://localhost:1337/project/admin">Admin</a>
        </div>
      </div>
    </nav>
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Project Management System</h1>
          <p class="lead">HKBU Project Management System is a web-based system for department and student societies to broadcast Projects and acitivities as well as registration.</p>
      </div>
    </div>
    
    <div class='container'>
        <div class="row " style="border-bottom: 1px solid #000"> 
            <div>
                <tr ><td>no.1</td><td>text 1</td></tr><br/>
            </div>
        </div>
        <div class="row " style="border-bottom: 1px solid #000"> 
            <div>
                <tr ><td>no.1</td><td>text 1</td></tr><br/>
            </div>
        </div>
        <div class="row " style="border-bottom: 1px solid #000"> 
            <div>
                <tr ><td>no.1</td><td>text 1</td></tr>
                <br/>
            </div>
        </div>
        <div class="row " style="border-bottom: 1px solid #000"> 
            <div>
                <tr ><td>no.1</td><td>text 1</td></tr><br/>
            </div>
        </div>
    </div>